<mat-toolbar color="primary" class="mat-elevation-z5">
	<mat-toolbar-row>
		<button class="menu-toggle" mat-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
			<span>Componentes Test</span>
		</button>
		<!--<span style="flex: 1 1 auto;"></span>-->
	</mat-toolbar-row>
</mat-toolbar>
