<div class="container-fluid">
    <div class="row">
        <div class="col s12 center-align">
            <h5>Últimos cambios</h5>
            <div class="loading" *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div class="col s12">
            <mat-action-list>
                <ng-container *ngFor="let commit of commits">
                    <mat-card>
                        <button mat-list-item (click)="open(commit.id)">
                            <p matLine><b>{{commit.author_name}}</b>&nbsp;<small>({{commit.author_email}})</small> <span style="float:right">{{commit.created_at | date : 'dd/MM/yyyy hh:mm'}}</span></p>
                            <p matLine>{{commit.title}}</p>
                        </button>
                    </mat-card>
                </ng-container>
            </mat-action-list>
        </div>
    </div>
</div>
