mat-card {
    margin: 1em;
    padding: 0;
}

.mat-list-base button.mat-list-item.mat-2-line {
    height: 100%;
}

.mat-list-base .mat-list-item p.mat-line {
    white-space: normal;
}

mat-spinner {
    display: inline-block;
}

.loading {
    padding-top: 3em;
}
